.introduction-text {
    font-size: 1.2em;
}

.example-text {
    font-size: 1em;
}

#textBox {
    height: 150px;
    width: 100%;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.instruction {
    font-size: 1.5em;
}

